# Created with ansible

server {

	server_name joewardell.com www.joewardell.com;
	
	location / {
		# forward to docker container joewardell/joewardell.com:initial
		proxy_pass http://localhost:4000;
		proxy_set_header Host $host;
	}

    listen 80; # managed by Certbot

    #listen 443 ssl; # managed by Certbot
    #ssl_certificate /etc/letsencrypt/live/joewardell.com/fullchain.pem; # managed by Certbot
    #ssl_certificate_key /etc/letsencrypt/live/joewardell.com/privkey.pem; # managed by Certbot
    #include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    #if ($scheme != "https") {
    #    return 301 https://$host$request_uri;
    #} # managed by Certbot
}

server {
       
	server_name lingfieldunitedtrust.org www.lingfieldunitedtrust.org;
 
    location / {
        # forward to docker container joewardell/lingfieldunitedtrust.org
        proxy_pass http://localhost:5000;
        proxy_set_header Host $host;
    }

    listen 80; # managed by Certbot

    #listen 443 ssl; # managed by Certbot
    #ssl_certificate /etc/letsencrypt/live/joewardell.com/fullchain.pem; # managed by Certbot
    #ssl_certificate_key /etc/letsencrypt/live/joewardell.com/privkey.pem; # managed by Certbot
    #include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    #if ($scheme != "https") {
    #    return 301 https://$host$request_uri;
    #} # managed by Certbot

}
